# Python cache and virtual environments
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Build and packaging
build/
dist/
*.egg-info/

# IDE and notebook noise
.vscode/
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# Data artifacts
data/raw/*
data/interim/*
data/processed/*
outputs/*

# Keep folder structure in Git
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!outputs/.gitkeep
